.background {
  background: url("../build/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  position: absolute;
}

header {
}

header .heading {
  height: 95vh;
  display: flex;
  position: relative;
}

header .heading .subheading h3 {
  margin-top: 200px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2;
  color: #fff;
}

header .heading .subheading .button {
  display: block;
  position: relative;
}

header .heading .subheading .button a {
  padding: 15px 30px;
  border: 1px solid #fff;
  margin-top: 50px;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

header .heading .image .pan-image {
  margin-top: 30px;
  background: url("../build/plate.webp");
  width: 100%;
  max-width: 700px;
  height: 90%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  left: 450px;
}

@media only screen and (max-width: 1215px) {
  header .heading .image .pan-image {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .container .heading {
    width: 100%;
    text-align: center;
  }

  .container .heading .subheading {
    width: 100%;
  }

  .container .heading .subheading h3 {
    font-size: 5rem;
  }

  .container .heading .subheading .button a {
    font-size: 3rem;
  }

  header .heading .image .pan-image {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .container .heading {
    height: auto;
  }

  .container .heading .subheading h3 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .container .heading .subheading {
    display: flex;
    flex-direction: column;
  }

  .container .heading .subheading h3 {
    font-size: 2rem;
  }

  .container .heading .subheading .button a {
    font-size: 1rem;
  }
}
